.Deck {
  background-color: green;
  min-height: 100vh;
  position: relative;
}

.Deck-cards {
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Deck-btn {
  background: grey;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  margin: 15px 0px;
}

